<form [formGroup]="formGroup">
  <ion-row>
    <ion-col>
      <ion-grid no-padding class="amount-container">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked>{{ currentNetwork?.token }}</ion-label>
              <ion-input type="number"
                         formControlName="amount"
                         step="0.01"
                         min="0.01"
                         max="10000000000"
                         name="amount"
                         [(ngModel)]="amount"
                         (input)="onInputToken()"
                         [placeholder]="tokenPlaceholder">
              </ion-input>
            </ion-item>
          </ion-col>

